<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="defaultShopping.mapper.EmployeeMapper">
<sql id="BaseEmployeeColumns">
EMP_NUM, EMP_ID, EMP_PW, EMP_NAME
,EMP_ADDR, EMP_ADDR_DETAIL, EMP_POST, EMP_PHONE, EMP_JUMIN
,EMP_EMAIL, EMP_HIRE_DATE, EMP_ORIGINAL_IMAGE, EMP_STORE_IMAGE
</sql>
<select id="employeeCount" resultType="integer">
select count(*) from employees
</select>
<select id="employeeSelectList" parameterType="startEndPageDTO" resultType="employeeDTO">
select * from(	select row_number() over(order by emp_num asc) as rn, 
				<include refid="BaseEmployeeColumns" />
				from employees
				where emp_num like concat('%', #{searchWord}, '%')
       			   or emp_id like concat('%', #{searchWord}, '%')
       			   or emp_name like concat('%', #{searchWord}, '%')
			) as emp
where rn between #{startRow} and #{endRow};
</select>
<insert id="employeeInsert" parameterType="employeeDTO">
insert into employees(<include refid="BaseEmployeeColumns" />)
values(#{empNum}, #{empId}, #{empPw}, #{empName}
	  ,#{empAddr}, #{empAddrDetail}, #{empPost}
	  ,#{empPhone}, #{empJumin}, #{empEmail}
	  <if test="!#{empHireDate}.isBlank()">
	  ,#{empHireDate}
	  </if>
	  <if test="#{empHireDate}.isBlank()">
	  ,sysdate()
	  </if>
	  , #{empOriginalImage}, #{empStoreImage})
</insert>
<select id="employeeSelectOne" resultType="employeeDTO">
select <include refid="BaseEmployeeColumns" /> from employees
where emp_num = #{empNum}
</select>

<update id="employeeUpdate" parameterType="employeeDTO">
update employees
set EMP_NAME = #{empName},
    EMP_ADDR = #{empAddr},
    EMP_ADDR_DETAIL = #{empAddrDetail},
    EMP_POST = #{empPost},
    EMP_PHONE = #{empPhone},
    EMP_EMAIL = #{empEmail}
where EMP_NUM = #{empNum}
</update>

<delete id="employeeDelete" parameterType="string">
delete from employees where emp_num = #{empNum}
</delete>
</mapper>