<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop Homepage - Start Bootstrap Tgoodslate</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this tgoodslate -->
    <link href="/static/css/shop-homepage.css" rel="stylesheet">
    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link href="/static/css/siteStyle.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">
            	<img src="/static/upload/tmpicon.png" width="30px" height="30px">Steem
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" th:if="${session.auth == null}">
                        <a class="nav-link" href="/login/">로그인</a>
                    </li>
                    <th:block th:if="${session.auth != null}">
	                    <li class="nav-item">
	                        <a class="nav-link" href="/login/logout">로그아웃</a>
	                    </li>
	                    <!-- 직원 네비게이션 바 -->
	                    <li class="nav-item"  th:if="${session.auth.grade == 'emp'}">
	                        <a class="nav-link" href="/user1/list" >관리자페이지</a>
	                    </li>
	                    <!-- 회원 네이게이션 바 -->
	                    <li class="nav-item" th:if="${session.auth.grade == 'mem'}">
	                        <a class="nav-link" href="#">장바구니</a>
	                    </li>
                    </th:block>
                </ul>
            </div>
        </div>
    </nav>   
    <!--  contents -->
    <div class="container" style="margin-top:80px; margin-bottom:80px;">
    	<h1>상품 상세 정보</h1>
	    <table>
	        <tr>
	            <th>상품번호</th>
	            <td>[[${goodsCommand.goodsNum}]]</td>
	        </tr>
	        <tr>
	            <th>상품이름</th>
	            <td>[[${goodsCommand.goodsName}]]</td>
	        </tr>
	        <tr>
	            <th>상품가격</th>
	            <td>[[${goodsCommand.goodsPrice}]]</td>
	        </tr>
	        <tr>
	            <th>상품설명</th>
	            <td>[[${goodsCommand.goodsContents}]]</td>
	        </tr>
	        <tr>
	            <th>메인 이미지</th>
	            <td><img th:src="|/static/upload/${goodsCommand.goodsMainStoreImage}|"></td>
	        </tr>
	        <tr>
	            <th>상세 이미지</th>
	            <td><th:block th:each="imgName : ${goodsDetailStoreImage}">
	            	<img th:src="|/static/upload/${imgName}|" width="100px" height="100px">
	            </th:block></td>
	        </tr>
	        <tr>
	            <th>등록직원 | 수정일</th>
	            <td>[[${goodsCommand.empNum}]] | [[${#dates.format(goodsCommand.goodsRegist, "yyyy-MM-dd")}]]</td>
	        </tr>
	        <tr>
	            <th>마지막수정직원 | 수정일</th>
	            <td>[[${goodsCommand.updateEmpNum}]] | [[${#dates.format(goodsCommand.goodsUpdateDate, "yyyy-MM-dd")}]]</td>
	        </tr>
	    </table>
			    
	    <div class="button-container">
	        <button type="button" th:attr="onclick=|javascript:location.href='edit?goodsNum=${goodsCommand.goodsNum}'|" class="button update">수정</button>
	        <button type="button" th:attr="onclick=|javascript:location.href='del?goodsNum=${goodsCommand.goodsNum}'|"
	        					  onclick="return confirm('정말로 삭제하시겠습니까?');" class="button delete">삭제</button>
	    </div>
    
    </div>
    
    
            
	<script src="/static/js/HeaderFooter.js"></script>
    
</body>
</html>