<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/shop-homepage.css" rel="stylesheet">
    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Default Shopping Mall</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" th:if="${session.auth == null}">
                        <a class="nav-link" href="/login/">로그인</a>
                    </li>
                    <th:block th:if="${session.auth != null}">
	                    <li class="nav-item">
	                        <a class="nav-link" href="/login/logout">로그아웃</a>
	                    </li>
	                    <!-- 직원 네비게이션 바 -->
	                    <li class="nav-item"  th:if="${session.auth.grade == 'emp'}">
	                        <a class="nav-link" href="/" >기본페이지</a>
	                    </li>
                    </th:block>
                </ul>
            </div>
        </div>
    </nav>    
	<div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h1 class="my-4">분류</h1>
                <div class="list-group">
                    <a href="/user1/join/begin" class="list-group-item">직원 등록</a>
                    <a href="/user1/list" class="list-group-item">직원 목록</a>
                    <a href="/goods/form" class="list-group-item">상품 등록 </a>
                    <a href="/goods/list" class="list-group-item">상품 목록 </a>
                </div>
            </div>
            <!-- /.col-lg-3 -->
            <div class="col-lg-9">
                <div class="carousel slide my-4" data-ride="carousel">
                    <form  action="employeeList" method="get" >
					<!-- search --> 
					<tr><td colspan="5">검색 : 
							<input type="search" name="searchWord" size="60" th:value="${searchWord}"/>
							<input type="submit" value="검색" />
						</td></tr>
					</form><br>
					<!-- table head -->
					<form action="empsDelete" method="post" id="frm">
					<table border=1 width=600px>
					<tr><td>직원번호</td><td>직원아이디</td><td>직원이름</td><td>등록일</td><td>연락처</td>
						<td><input type="checkbox" id="checkBoxs"/>
								<input type="submit" value="퇴사" /> 
						</td></tr>
					<!-- table contents -->
					<tr th:each="dto : ${list}">
						<td><a th:href="|info?empNum=${dto.empNum}|">[[${dto.empNum}]]</a></td>
						<td><a th:href="@{info(empNum=${dto.empNum})}|">[[${dto.empId}]]</a></td>
						<td>[[${dto.empName}]]</td>
						<td></td>
						<td>[[${dto.empPhone}]]</td>
						<td><input type="checkbox" name="nums" th:value="${dto.empNum}" /></td>
					</tr>
					<!--  page  -->
					<tr align="center"><td colspan="6">
						<th:block th:if="${page <= 1}">
						[이전]
						</th:block>
						<th:block th:if="${page > 1}">
						<a th:href="@{employeeList(page=${page - 1},searchWord=${searchWord})}">[이전]</a>
						</th:block>
						<th:block th:each=" i : ${#numbers.sequence(startPageNum, endPageNum)}">
						<a th:href="@{employeeList(page=${i},searchWord=${searchWord})}">[[${i}]]</a>
						</th:block>
						<th:block th:if="${page >= maxPage}">
						[다음]
						</th:block>
						<th:block th:if="${page < maxPage}">
						<a th:href="@{employeeList(page=${page + 1},searchWord=${searchWord})}">[다음]</a>
						</th:block>
						</td></tr>
					</table>
                </div>
                
                <!-- /.row -->
            </div>
            <!-- /.col-lg-9 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
        
	<!-- Footer -->
	
   	<div style="height:200px"></div>
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
        </div>
        <!-- /.container -->
    </footer>
    
</body>
</html>